[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
