Posted {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} by {{ .Params.author }} - {{ .Params.jobtitle }} 
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="container">
          <section class="content">
              <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
              <div class="sub-header">
                    Posted: {{ dateFormat "Jan 2, 2006" .Params.date }}. 
                    Applications close: {{ .Params.expiryDate }} 
                    Location: {{ .Params.joblocation }}
              </div>
                
              <article class="entry-content">
                

                <h3>Link to Job</h3>
                <!-- <a href="https://global-redhat.icims.com/jobs/63555/sales-internship/job?hub=7">Job posting here</a> -->
                <h4><a href={{.Params.joblink}} target="_blank">Click here to Apply at Red Hat Jobs</a></h4>
                <h3>Job Description</h3>
                  {{ markdownify .Params.jobdescription }}
              
              <h3>Primary Job Responsibilities</h3>
                {{ markdownify .Params.responsibilities }}
              
              <h3>Required Skills</h3>
                {{ markdownify .Params.skills }}
              
              </article>

              <div class="pagination">
                  {{ if .PrevInSection }}
                      <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
                  {{ end }}
                  {{ if .NextInSection }}
                      <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
                  {{ end }}
              </div>
          </section>
          <br>
          <div class="addthis_inline_share_toolbox"></div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{- .Site.Params.addThis -}}" async></script>


      </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
