<style>
    h1, h2, h3, p, a, div, article, strong, li, ul, ol  {
        font-family: 'Overpass', sans-serif !important;
        /* font-family: "Overpass" !important; */
        /* Commented out until I find the correct way to get google fonts working in this theme */
        /* color: #cc0000 !important; */
    }

    footer {
        background-color: #4c4c4c;
    }
    a:hover, .content a:hover, .about a:hover, .nav-full a:hover {
        color: #cc0000;
    }
    a, .content a {
        background-image: none !important;
    }
</style>